<app-tool-bar></app-tool-bar>

<main>
    <form [formGroup]="toggleForm">
        <mat-button-toggle-group  class="radio-group" formControlName="toggle" (change)="getToggleValue($event)">
            <mat-button-toggle value="PT">PT</mat-button-toggle>
            <mat-button-toggle value="EN">EN</mat-button-toggle>
        </mat-button-toggle-group>
    </form>
    <h2 style="margin-bottom: 0;">Tempo recomendado: 30 minutos para as duas questões</h2>
    <span style="margin-bottom: 20px"><strong>dica:</strong> resposta o mais completo possível, sem esquecer o que se pede</span>
    
    <button mat-stroked-button  (click)="blur()" *ngIf="blured" class="blur-button"><mat-icon>remove_red_eye</mat-icon>
        {{ 'Liberar Questões' }}
    </button>
    <div class="timer">
      <h2>{{ timer === 1800 ? '30:00' : formatTime(timer) }}</h2>
  </div>
    
    <div [ngClass]="getBlur()">
        <h2>{{ language === "PT" ? beerCharacteristicQuestionPT.title : beerCharacteristicQuestionEN.title }}</h2>
        <mat-table [dataSource]="characteristicsDataSource" class="descriptor-table">
    
              <ng-container matColumnDef="question">
                <ng-container *ngFor="let element of characteristicsDataSource[0].question; let i = index" [matColumnDef]="element.question">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ element.value }}
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ element.question}}
                    </td>
                  </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="questionColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: questionColumns;"></tr>
        </mat-table>
        <ng-container *ngIf="characteristicsDataSource[0].characteristics">
            <div style="display: flex; justify-content: space-around;">
                <h2 *ngFor="let characteristic of characteristicsDataSource[0].characteristics">{{ characteristic.value }}</h2>
            </div>
        </ng-container>

        <div style="margin-top: 50px">
            <h2>{{ language === "PT" ? proccessAndSuppliesQuestionPT.title : proccessAndSuppliesQuestionEN.title }}</h2>

            <mat-table [dataSource]="proccessAndSuppliesDataSource" class="descriptor-table">
        
                <ng-container matColumnDef="question">
                  <ng-container *ngFor="let element of proccessAndSuppliesDataSource[0].question; let i = index" [matColumnDef]="element.question">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ element.value }}
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ element.question}}
                      </td>
                    </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="proccessColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: proccessColumns;"></tr>
          </mat-table>
        </div>
        
      
    <div>
            
</div>
</div>
    
    <div class="buttons">
        <button mat-raised-button class="send-button" color="primary">Finalizar</button>
        <button mat-stroked-button  class="send-button" (click)="back()" color="warn">Voltar</button>

    </div>
   
</main> 