<div class="container">

    <mat-tab-group>
        <mat-tab label="Malte">
          <app-malt></app-malt>
        </mat-tab>

        <mat-tab label="Lúpulo">
          <app-hops></app-hops>
        </mat-tab>

        <mat-tab label="Água">
            <app-water></app-water>
        </mat-tab>
        <mat-tab label="Levedura">
          <app-yeast></app-yeast>
        </mat-tab>

        <mat-tab label="Enzimas">
            <app-enzimes></app-enzimes>
        </mat-tab>

    </mat-tab-group>
</div>

