<mat-card class="card-class">
    <h1 class="title">Lúpulo</h1 >
    <span style="padding-bottom: 20px;">Guia de estudo</span>
    <mat-accordion class="accordion">
                          <mat-expansion-panel class="expansion-panel" [expanded]="false">
          <mat-expansion-panel-header >
            <mat-panel-title class="additionals-title">
              Pergunta relacionada
            </mat-panel-title>
            <mat-panel-description >

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="formulas-title">
            <span class="title-card">
              T4 - {{ PORTUGUESEQUESTIONS.QS4TITLE }}
            </span>
            <ul>
              <ng-container *ngFor="let question of PORTUGUESEQUESTIONS.QS4">
                <li>
                  <strong>{{ question.value }}</strong> - {{ question.question }}
                </li>
              </ng-container>
            </ul>
          </div>
          </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel" [expanded]="false">
          <mat-expansion-panel-header >
            <mat-panel-title class="additionals-title">
              Estrutura Física
            </mat-panel-title>
            <mat-panel-description >
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="formulas-title">
              <span class="title-card">
                Bráctea
              </span>
              <span>
                    <p class="formula" style="font-size: 20px;"></p>
                </span>
                <div style="display: flex; flex-direction: column;">
             
                </div>
              <div class="line-separator"></div>
              <span class="title-card">
                Lúpulo
            </span>
              <div class="line-separator"></div>
              <span class="title-card">
                    Água
                    <p class="formula"></p>  
                </span>
                <div style="display: flex; flex-direction: column;">
                  
                </div>
                <div class="line-separator"></div>
                <span class="title-card">
                    Levedura
                    <p class="formula">
                       
                    </p>  
                </span>
                <div style="display: flex; flex-direction: column;">
                  
                </div>
                <div class="line-separator"></div>
                
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel" [expanded]="false">
            <mat-expansion-panel-header >
              <mat-panel-title class="additionals-title">
                Estrutura Química
              </mat-panel-title>
              <mat-panel-description >
                  Óleos, ácidos, etc
              </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel" [expanded]="false">
            <mat-expansion-panel-header >
              <mat-panel-title class="additionals-title">
                Varietais
              </mat-panel-title>
              <mat-panel-description >
                  Regiões, terroir, estilos
              </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
    
</mat-card>