<app-tool-bar></app-tool-bar>
<div class="container">
    <form [formGroup]="toggleForm">
        <mat-button-toggle-group class="radio-group" formControlName="toggle" (change)="getToggleValue($event)">
            <mat-button-toggle value="PT">PT</mat-button-toggle>
            <mat-button-toggle value="EN">EN</mat-button-toggle>
    
        </mat-button-toggle-group>
    </form>
    <div class="main-buttons">
        <button mat-stroked-button (click)="blur()" [disabled]="!blured" class="blur-button"><mat-icon>remove_red_eye</mat-icon>
            {{ !blured ? "Prova liberada" : "Liberar Prova" }}
        </button>
        <span *ngIf="blured" style="margin-top: 20px">Após liberar a prova, o botão fica desabilitado!</span>

        <div class="full-test" [ngClass]="getBlur()">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iste in accusamus animi. Beatae nulla et laborum? Quos laboriosam obcaecati doloribus explicabo aut et eveniet rerum nisi ipsum! Deserunt, id.
        </div>

    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" class="send-button" (click)="generatePDF()">
            Gerar PDF
        </button>
        <button (click)="back()" class="send-button" mat-stroked-button color="warn">Voltar</button>
    </div>
</div>


