

.blur {
    filter: blur(6px)
}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.df-buttons {
    display: flex;
    gap: 12px;
}

.blur-button {
    width: 240px; 
    padding: 20px; 
    margin-bottom: 20px;
}
.send-button {
    justify-self: center;
    padding: 30px;
    width: 150px;
    margin: 0 auto;
}