<app-tool-bar></app-tool-bar>

<main>
    <div class="main-buttons">
        <button mat-stroked-button color="primary" (click)="generateTrueOrFalse()">Gerar Lista de Verdadeiro ou Falso</button>
        <button mat-stroked-button (click)="generateTest()">Gerar Comparação de Estilos</button>
        <button mat-stroked-button (click)="generateMaterialsAndProccessTest()">Gerar Questão de Insumos e Processo</button>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 30px">
        <button mat-stroked-button (click)="generateFullTest()" style="padding: 50px">Gerar Prova Completa!</button>
    </div>
    
</main>