:root {
    font-family: 'Graphie', 'sans-serif';
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px
    ;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1536px;
}

header {
    display: flex;
    justify-content: space-around;
    min-width: 1536px;
    width: 100%;
}

mat-toolbar {
    width: 1536px;
    display: flex;
    justify-content: space-between;
}

mat-toolbar span {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

ul li {
    padding: 20px 20px 20px 0px;
}

mat-card {
    border-radius: 8px;
}

.title {
    padding: 30px 0px;
}

.main-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 12px;
    gap: 12px;
    height: 100%;
}

.card-class {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.button-clean {
    padding: 20px;
    margin-bottom: 12px
}

.button-remove {
    display: flex;
    justify-content: flex-end;
}

.card-titles {
    padding-left: 70px;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

.question-buttons {
    padding: 30px;
}