<div style="overflow: hidden;">
    <app-tool-bar></app-tool-bar>

    <main>
    
        <mat-card class="card-class">
            <h1 class="title">Bem vindo ao seu estudo do BJCP Written!</h1>
            <div class="card-titles">
                <span>Você acertou {{ hits }} de {{ allQuestions }} nas múltiplas escolhas!</span>
                <span>Gerou {{ allDeployedTest }} provas, finalizou um total de {{ finishedTest }}!</span>
                <span>E o mais importante, já comparou estilos {{ allComparisons }} {{ allComparisons < 2 ? 'vez' : 'vezes'}}!</span>
                
            </div>
            <div class="card-titles" *ngFor="let try of detailedTries">
                {{ try.day }}/{{try.month}}/{{try.year}} - {{try.hits}} acertos de {{try.total}}
            </div>
            <div class="button-remove">
                <button mat-raised-button color="warn" style="border-radius:50px" class="button-clean" (click)="cleanResults()">Limpar registro</button>
            </div>
            <div class="main-buttons">
                <button mat-stroked-button class="question-buttons" color="primary" (click)="generateTrueOrFalseTest()">Gerar Lista de Verdadeiro ou Falso</button>
                <button mat-stroked-button class="question-buttons" color="primary" (click)="generateComparisonTest()">Gerar Comparação de Estilos</button>
                <button mat-stroked-button class="question-buttons" color="primary" (click)="generateMaterialsAndProccessTest()">Gerar Questão de Insumos e Processo</button>
            </div>
        </mat-card>
        <div class="centered-button">
            <button mat-raised-button color="primary" (click)="generateFullTest()" style="padding: 50px; border-radius: 50px">Gerar Prova Completa!</button>
        </div>
        
    </main>
</div>
