<div class="container">
    <header>
        <mat-toolbar color="primary">
            <span class="title" (click)="redirectToMainPage()">BJCP Written Exam Generator</span>
         
            
            <button mat-button [matMenuTriggerFor]="menu">Guia de Estudos</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToSuppliesStudyGuide()">Estudo de Insumos</button>
                <hr>
                <button mat-menu-item (click)="goToProccessStudyGuide()">Estudo de Processos</button>
                <hr>
                <button mat-menu-item (click)="goToFormulasStudyGuide()">Fórmulas/Utilidades   </button>


            </mat-menu>
        </mat-toolbar>
    </header>
    
    
</div>
