<div class="container">

    <main>
        <mat-card class="card-class">
            <h1 class="title">Fórmulas e Utilidades</h1 >
            <span style="padding-bottom: 20px;">Fórmulas de cálculo de receita</span>
            <mat-accordion class="accordion">
                <mat-expansion-panel class="expansion-panel" [expanded]="false">
                  <mat-expansion-panel-header >
                    <mat-panel-title class="additionals-title">
                      Fórmulas de cálculo de receitas
                    </mat-panel-title>
                    <mat-panel-description >
                        Cálculos mais utilizados
                    </mat-panel-description>
                    <hr>
                  </mat-expansion-panel-header>
                  <div class="formulas-title">
                      <span class="title-card">
                        Gravidade Original
                      </span>
                      <span>
                            <p class="formula" style="font-size: 20px;">OG = ((PESO * PPG)/VOL) * EFICIÊNCIA</p>
                        </span>
                        <div style="display: flex; flex-direction: column;">
                            <span><strong>OG</strong> só os ultimos dígitos; exemplo: 1060 = 60</span>
                            <span><strong>PESO</strong> em libras</span>
                            <span><strong>PPG</strong> fornecido pelo fabricante - varia de acordo com o malte</span>
                            <span><strong>VOLUME</strong> em galões</span>
                            <span><strong>EFICIENCIA</strong> em porcentagem</span>
                        </div>
                      <div class="line-separator"></div>
                      <span class="title-card">
                        Gravidade Final
                      </span>
                      <div class="line-separator"></div>
                      <span class="title-card">
                            IBU
                            <p class="formula">IBU = (PESO * 1000 * POTENCIAL DE EXTRAÇÃO * ALFA ÁCIDO) / VOLUME</p>  
                        </span>
                        <div style="display: flex; flex-direction: column;">
                            <span><strong>IBU</strong> é número inteiro</span>
                            <span><strong>PESO</strong> em gramas</span>
                            <span><strong>POTENCIAL DE EXTRAÇÃO</strong> depende do tempo de fervura</span>
                            <span><strong>ALFA ÁCIDO</strong> em decimal</span>
                            <span><strong>VOLUME</strong> em litros</span>
                        </div>
                        <div class="line-separator"></div>
                        <span class="title-card">
                            Pitch de leveduras
                            <p class="formula">
                                PITCH = (ºP * VOLUME(mL) * TAXA DE INOCULO)
                            </p>  
                        </span>
                        <div style="display: flex; flex-direction: column;">
                            <span><strong>PITCH</strong> é a quantidade de levedura (geralmente em bilhões)</span>
                            <span><strong>ºP</strong> é a densidade inicial em graus Plato</span>
                            <span><strong>VOLUME</strong> do mosto em mL</span>
                            <span><strong>TAXA DE INOCULO</strong> = 0,75bi Ales; 1,5bi Lagers</span>
                        </div>
                        <div class="line-separator"></div>
                        
                      <span class="title-card">
                        Cor
                      </span>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="expansion-panel" [expanded]="false">
                    <mat-expansion-panel-header >
                      <mat-panel-title class="additionals-title">
                        Conversões
                      </mat-panel-title>
                      <mat-panel-description >
                          Plato, SRM, Lbs, Glns
                      </mat-panel-description>
                      <hr>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </main>
</div>

