/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0 0 40px 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F2F2F2; overflow-x: hidden; }

mat-table {
    border-radius: 8px;
    margin-bottom: 20px
}

button mat-stroked-button {
    background-color: white;
}

mat-card {
    background-color: #FEFEFE !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.send-button {
    justify-self: center;
    padding: 30px;
    width: 150px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 20px
}

mat-tab-group {
    padding: 1rem 0;
    width: 80%;
}

:root {
    --primary: red;
    --body: #fff;
    --text-menu: #fff;
    --text-body: #4b4b4b;
  }

.timer {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid darkgray;
    margin-bottom: 20px;
}

.timer h2 {
    margin: 0;
}

button {
    max-width: 244px;
}

mat-card {
    z-index: 999;
}

span {
    height: fit-content;
}

.card-class {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    box-sizing: border-box;
}

.title {
    justify-self: flex-start;
    outline-color: black;
    padding: 30px 0px;
    font-weight: 500;
}

.title-card {
    font-weight: 700;
    margin-top: 8px;
    font-size: 20px;
    padding: 4px 0;
}

.accordion {
    width: 100%;
}

.formulas-title {
    display: flex;
    flex-direction: column;
    padding: 6px 24px;
}

.formula {
    font-weight: 700; 
    text-align: center; 
    border: 2px solid #F2F2F2;
    margin: 12px 0;
    padding: 5px;
    border-radius: 8px;
}

.line-separator {
    height: 1px; 
    background-color: black; 
    width: 100%; 
    margin-top: 12px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
  .mat-expansion-panel-content:not(.mat-expanded) {
    visibility: visible !important;
    padding: 0px !important;
  }

  @media (max-width: 1200px) {
    .card-class {
        width: 100%;
    }
}